* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
	font-size: 12pt;
} /* Black prints faster: h5bp.com/s */
#page {
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
}

.noprint, button, #nav, #header, #menu-bar, #sidebar, h2#postcomment,
	form#commentform, #footer {
	display: none;
}

a, a:visited {
	text-decoration: underline;
}

a[href]:after {
	content: " (" attr(href) ")";
}

abbr[title]:after {
	content: " (" attr(title) ")";
}

.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	content: "";
} /* Don't show links for images, or javascript/internal links */
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}

thead {
	display: table-header-group;
} /* h5bp.com/t */
tr, img {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

@page {
	margin: 0.5cm;
}

p, h2, h3 {
	orphans: 3;
	widows: 3;
}

h2, h3 {
	page-break-after: avoid;
}

table {
	height: 100%;
	/*width: 20cm;*/
	border-collapse: collapse;
	border: 0;
}

th {
	padding-right: 0px;
	border: 0;
}

td {
	border: 1px solid #333;
	height: 20px;
	line-height: 20px;
}

.page-break {
	display: block;
	page-break-before: always;
}

/* 文字左对齐 */
.text_left{text-align: left;}
/* 文字右对齐 */
.text_right{text-align: right;}
/* 文字居中 */
.text_center{text-align: center;}
/* 文字加粗 */
.bold{font-weight: bold;}
/* 左对齐 */
.f_left{float: left;}
/* 右对齐对齐 */
.f_right{float: right;}